#block-ting-projects {
  padding: 16px 0;
  margin: 16px 0;
  overflow: hidden;
}

#block-ting-projects .pane-content ul {
  padding-left: 0;
}

  #block-ting-projects .pane-title {
    padding: 0 8px;
  }

  #block-ting-projects .pane-content li {
    display: inline-block;
    width: 300px;
    padding: 8px;
    vertical-align: top;
  }
  
  #block-ting-projects .meta {
    display: none;
  }

#block-block-10 iframe {
  width: 960px;
  height: 735px;
}