/* ----- // Frontpage nodes ----- */

#block-ting-projects,
#block-dting-features,
#block-news-homepage {
  padding: 16px 0 0;
  margin: 16px 0;
  overflow: hidden;
}

#block-news-homepage {
  border-bottom: 10px solid #eee;
}

#block-ting-projects .pane-content ul,
#block-dting-features .pane-content ul,
#block-news-homepage .pane-content ul {
  padding-left: 0;
}

  #block-ting-projects .pane-title,
  #block-dting-features .pane-title,
  #block-news-homepage .pane-title {
    padding: 0 8px;
  }

  #block-ting-projects .pane-content li,
  #block-dting-features .pane-content li,
  #block-news-homepage .pane-content li {
    display: inline-block;
    width: 300px;
    padding: 8px;
    vertical-align: top;
    border-bottom: none;
  }
  
  #block-dting-features .pane-content .image-list li {
    width: 244px;
    padding-left: 64px;
    list-style-type: none;
  }
  
  #block-ting-projects .meta,
  #block-dting-features .meta {
    display: none;
  }
  
  #block-dting-features p.link {
    padding-left: 8px;
  }
  
/* ----- // TING.map iframe ----- */  

#block-block-10 iframe {
  width: 960px;
  height: 735px;
}

/* ----- // News listing ----- */

li.news-item {
  padding-bottom: 24px;
  margin-bottom: 24px;
  border-bottom: 1px dotted #888;
  
}