/* ------ // Main Page ---------- */

body {
  background: #222;
}

  body.subsite-dting {
    background: #222 url("../images/back-dingting-top-black.jpg") 50% 0% no-repeat;
  }
  
  body.subsite-dting-front {
    background: #222;
  }

#outer-wrapper {
  background: #fff;
  min-height: 350px;
}

  .subsite-dting-front #outer-wrapper {
    background: #fff url("../images/back-dingting-front-slice.jpg") 0px -59px repeat-x;
  }

#wrapper {
  width: 960px;
  margin: 0 auto;
  padding: 20px 0 46px;
}

  .subsite-dting #wrapper {
    padding-top: 0;
  }
  
  .subsite-dting-front #wrapper {
    background: transparent url("../images/back-dingting-front.jpg") 50% -60px no-repeat;
  }

.front #wrapper {
  padding-top: 36px;
}

/* ------ // Ting Subsite Bar ---------- */

#ting-bar {
  border-bottom: 1px dotted #666;
}

#ting-bar-inner {
  width: 946px;
  padding: 3px 8px 2px;
  margin: 0 auto;
  background: transparent;
  color: #fff;
}

  #ting-id {
    border-bottom: none;
  }
  
  .user-menu {
    float: left;
    width: 450px;
    padding-right: 25px;
  }
  
    .user-menu li {
      float: right;
    }
    
  #search {
    margin-left: 705px;
  }


/* ------ // Header ---------- */

#header.dting {
  width: 960px;
  margin: 0 auto;
  overflow: hidden;
  padding-bottom: 10px;
}

  .subsite-dting-front #header.dting {
    overflow: visible;
    padding-bottom: 22px;
  }  
  
#site-logo {
  display: block;
  float: left;
  clear: right;
  padding-left: 8px;
  margin-top: 4px;
  border-bottom: none;
}

  .front #site-logo {
    margin-top: 9px;
  }
  
  .subsite-dting-front #site-logo {
    margin-top: 32px;
  }

#mission {
  clear: right;
  margin-left: 320px;
  padding: 0px 8px 48px;
}

.panel-col-mission {
  margin: 37px 0 0 328px;
  padding-right: 8px;
  height: 173px;
}


.breadcrumb {
  clear: both;
  padding: 8px;
  margin-bottom: 18px;
}

#header-content {
  clear: both;
}

/* ------ // Main menus ---------- */

#main-menu {
  background: #222;
  
}

  #main-menu ul.menu {
    overflow: hidden;
    padding: 16px 0 16px 320px;
    width: 640px;
    margin: 0 auto;
    height: 18px;
  }
  
  .subsite-dting #main-menu {
    float: right;
    background: transparent;
  } 
  
    .subsite-dting #main-menu ul.menu {
      width: auto;
      padding: 12px 0 4px;
      overflow: visible;
    }
  
  #main-menu ul.menu li {
    float: left;
    border-left: 1px solid #ccc;
    padding: 0 7px;
    line-height: 18px;
  }
  
  #main-menu ul.menu li:first-child {
    border: none;
  }

  
/* ------ // Top rows --------- */

ul.panel-3-1-2-toprow {
  border: 1px dotted #666;
  border-width: 1px 0;
  overflow: hidden;
  padding: 8px 0 16px;
  background: #d1e02b;
}

  ul.panel-3-1-2-toprow li {
    padding: 8px 16px 8px 8px;
  }

  ul.panel-3-1-2-toprow .panel-col-topleft {
    float: left;
    width: 296px;
  }
  
  ul.panel-3-1-2-toprow .panel-col-topright {
    float: right;
    width: 296px;
  }
  
  ul.panel-3-1-2-toprow .panel-col-topmiddle {
    margin: 0 320px;
  }
  
  .subsite-dting-front ul.panel-3-1-2-toprow {
    background: transparent url("../images/graphic-dingting-cases.png") 50% 100% no-repeat;
    border: none;
    padding: 0;
    color: #fff;
  }
  
    .subsite-dting-front ul.panel-3-1-2-toprow li {
      min-height: 218px;
    }



/* ------ // Content ---------- */

  #content {
    clear: both;
    overflow: hidden;
  }
  
    .subsite-dting-front #content {
      clear: none;
      width: 960px;
    }
  
    #content h1 {
      padding: 0 8px;
    }
  
  #content .panel-col-content {
    float: left;
    width: 466px;
    padding: 0 8px 16px;
  }
    
  #content .panel-col-sidebar {
    margin-left: 640px;
    padding: 0 8px 16px;
  }
  
  #content .panel-col-top {
    padding: 0 8px;
    margin-top: 37px;
  }
  
  #content .panel-col-bottom {
    clear: both;
  }
  
/* ------ // Sidebar ---------- */  

  #sidebar-right {
    margin-left: 600px;
  }
  
  .panel-col-sidebar .menu-name-primary-links,
  .panel-col-sidebar .menu-name-menu-project-ding-main {
    margin-bottom: 24px;
  }
  
/* ------ // Secondary Content ---------- */
  
  #secondary-content {
    clear: both;
  }



/* ------ // Footer ---------- */

#footer {
  background: #222;
}

#footer-inner {
  width: 960px;
  margin: 0 auto;
  clear: both;
  overflow: hidden;
  background: #222 url("../images/icon-empowered-black.png") 8px 97% no-repeat;
}

  #footer-inner>li {
    width: 224px;
    padding: 16px 8px 100px;
    float: left;
  }


/* ------ // Common elements ---------- */  

#content a.download-button {
  background: transparent url("../images/button-download.png") left top no-repeat;
  width: 130px;
  height: 43px;
  display: inline-block;
  border: none;
  color: #fff;
  font-weight: bold;
  padding-left: 70px;
  padding-top: 12px;
  font-size: 18px;
  margin: 8px 0;
}

  a.download-button span {
    display: block;
    font-weight: normal;
    font-size: 11px;
  }