body {
  font-family: Arial, sans-serif;
  font-size: 62.5%;
  line-height: 1;
}


/* ------ // Headlines ---------- */

h2, h1 {
  font-family: ScalaSans, Arial, sans-serif;
  font-weight: bold;
  font-size: 2.3333em;
  margin-bottom: 0.2em;
}

h1, .panel-col-content .pane-title {
  font-size: 200%;
}

h3, h4 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

#footer h2 {
  font-size: 1.5em;
  font-weight: normal;
}

#mission {
  font-size: 39px;
  line-height: 0.9em;
}

/* ----- // Panels: Frontpage ---- */

.panel-3-1-2-toprow h2 {
  font-size: 2.0em;
}

.panel-3-1-2-toprow a:link {
  color: #333;
}

.panel-3-1-2-toprow a:visited {
  color: #555;
}


/* ------ // Link Styles ---------- */

a:link,
a:visited {
  color: #9cb333;
  text-decoration: none;
  border-bottom: 1px dotted #9cb333;
}

a:hover,
a:active {
  text-decoration: none;
  border-bottom: none; 
}

p.link:before {
  content: "» "
} /* Add '»' before selected links */


/* ------ // Menus ---------- */

#main-menu li {
  font-size: 1.4em;
  font-weight: bold;
}

  #main-menu a:link,
  #main-menu a:visited {
    color: #d1e02b;
  }
  
  #main-menu a:hover,
  #main-menu a:active {
    color: #fff;
  }
  
  #main-menu a:focus {
    border: 1px dotted #fff;
    color: #fff;
  }
  
  #main-menu .active-trail a:link,
  #main-menu .active-trail a:visited {
    color: #fff;
    border-bottom: none;
  }
  

  

/* ------ // Content ---------- */

#content {
  font-size: 1.2em;
  line-height: 1.5em;
}

#content p, 
#content ul, 
#content ol, 
#content blockquote,
#content .field-type-text {
  margin-bottom: 0.5em;
}

/* ------ // Footer ---------- */
#footer {
  color: #fff;
  font-size: 1.2em;
  line-height: 1.5em;
}

#footer a:link,
#footer a:visited {
  color: #d1e02b;
}