body {
  font-family: Arial, sans-serif;
  font-size: 62.5%;
  line-height: 1;
}


/* ------ // Headlines ---------- */
h2, h1 {
  font-family: ScalaSans, Arial, sans-serif;
  font-weight: bold;
  font-size: 2.3333em;
  margin-bottom: 0.2em;
}


h1, .panel-col-content .pane-title {
  font-weight: normal;
  margin-bottom: 0.5em;
}  

  #footer h2 {
    font-size: 1.5em;
    font-weight: normal;
    margin-bottom: 0.8em;
  }
  
  .panel-col-sidebar h2 {
    font-size: 1.75em;
    border-bottom: 1px dotted #888;
    padding-bottom: 0.1em;
  }
  
  .panel-col-sidebar .field-field-sidebar h2 {
    font-weight: normal;
  }

h3, h4 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

  .panel-col-sidebar h3 {
    font-size: 1.2em;
    margin-bottom: 0.3em;
    margin-top: 0.2em;
  }
  
  .field-item h3, .field-item h4 {
    margin-top: 1em;
  }


/* ------ // Page elements -------- */
#mission,
.panel-col-mission p {
  font-size: 39px;
  line-height: 0.9em;
}

.panel-col-mission p {
  color: #fff;
}



/* ----- // Panels: Frontpage ---- */

.panel-3-1-2-toprow h2 {
  font-size: 2.0em;
}

.panel-3-1-2-toprow a:link {
  color: #333;
}

.panel-3-1-2-toprow a:visited {
  color: #555;
}

/* ----- // Panels: ding.TING frontpage ---- */

.subsite-dting-front .panel-3-1-2-toprow a:link,
.subsite-dting-front .panel-3-1-2-toprow a:visited {
  color: #d1e02b;
}



/* ------ // Link Styles ---------- */

a:link,
a:visited {
  color: #9cb333;
  text-decoration: none;
  border-bottom: 1px dotted #9cb333;
}

a:hover,
a:active {
  text-decoration: none;
  border-bottom: none; 
}

p.link:before {
  content: "» "
} /* Add '»' before selected links */





/* ------ // Menus ---------- */

#main-menu li {
  font-size: 1.4em;
  font-weight: bold;
}

  #main-menu a:link,
  #main-menu a:visited {
    color: #d1e02b;
    padding: 1px;
  }
  
  #main-menu a:hover,
  #main-menu a:active {
    color: #fff;
  }
  
  #main-menu a:focus {
    border: 1px dotted #fff;
    color: #fff;
    padding: 0;
  }
  
  #main-menu .active-trail a:link,
  #main-menu .active-trail a:visited {
    color: #fff;
    border-bottom: none;
  }
  
  
.panel-col-sidebar .menu a:before {
  content: "» "
}

  .panel-col-sidebar .menu .menu li {
    margin-left: 16px;
  }
  
  .panel-col-sidebar .menu a.active-trail {
    color: #333;
    border-bottom: none;
    font-weight: bold;
  }
  

/* ------ // Content ---------- */

#content {
  font-size: 1.2em;
  line-height: 1.5em;
}

#content p, 
#content ul, 
#content ol, 
#content blockquote,
#content .field-type-text {
  margin-bottom: 0.5em;
}

/* ------ // Footer ---------- */
#footer {
  color: #fff;
  font-size: 1.2em;
  line-height: 1.5em;
}

#footer a:link,
#footer a:visited {
  color: #d1e02b;
}